<div class="container" dir="rtl">
    <div class="row">
        <div class="col-xs-12">
            <h1>کامپوننت App</h1>
            <hr>
            <app-servers></app-servers>
        </div>
    </div>
</div>