<input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{serverName}}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="OnCreateServer()">سرور جدید</button>
<p> {{serverCreation}}</p>
<div *ngIf="serverCreation">
    <p>سرور جدید با موفقیت اضافه شد نام سرور: {{serverName}}</p>
</div>
<div *ngIf="!serverCreation">
    <template #noServer>
    <p>سرور جدیدی اضافه نشده است</p>
</template>
</div>


<app-server></app-server>
<app-server></app-server>